<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokentm.sdk.components">

    <application>
        <activity
            android:name=".identitypwd.UserIdentityPwdSetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".identitypwd.UserIdentityPwdReSetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".identitypwd.UserIdentityPwdUpdateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".cert.CompanyCertActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".cert.CompanyCertSubmitFileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>
