<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokentm.sdk.components">

    <application>
        <activity
            android:name=".identitypwd.UserIdentityPwdAndSecurityQuestionReSetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".identitypwd.UserIdentityPwdAndSecurityQuestionSetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".identitypwd.UserIdentityPwdDecryptedBySecurityQuestionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".identitypwd.UserIdentityPwdReSetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".identitypwd.UserIdentityPwdUpdateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>
