<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokentm.sdk.crop">

    <application>
        <activity
            android:name="com.tokentm.sdk.crop.CropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>
